.item-container:hover .delete-button {
    display: inline-block; /* Show the delete button on hover */
}
.item-container {
    background-color: #e4e4e4;
    margin-bottom: 8px;
    padding: 16px;
    user-select: none;
    border-radius: 20px;


}
.delete-button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    cursor: pointer;
    display: none;
}